.shopTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Ensure three columns */
    gap: 20px;
    justify-content: space-around; /* Evenly space the products */
}

.product {
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.product .description {
    text-align: center;
    padding: 10px;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
    }
}
